@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "MyCustomFont";
  src: url("src/assets/assets/fonts/InstrumentSans-VariableFont_wdth,wght.ttf")
    format("truetype");
}
body {
  font-family: "MyCustomFont", sans-serif;
}
.mainBody {
  font-family: "MyCustomFont", sans-serif;
}

.fade-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed; /* Cover the entire screen */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(211, 233, 233, 0.8); /* Light background */
  z-index: 999; /* Ensure it's on top of other elements */
  opacity: 0;
  transition: opacity 0.5s ease; /* Fade effect */
}

.fade-loader.show {
  opacity: 1; /* Show the loader */
}


.color-youtube{
  background-color:#ee3838;
  
}
.color-freecodecamp{
  background-color:#302267;
}
.color-codewars{
  background-color:rgb(68, 16, 68);
}
.color-linkedin{
  background-color:#159efa;
}
.color-github{
  background-color:black;
}
.color-dev.to{
  background-color:rgb(70, 66, 66);
}

.ForBgImage{
  background-image: url('src/assets/images/privew.png');
  background-repeat: no-repeat;
}